html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.hero,
.content_info,
.content_quote,
.content_cta,
.footer {
    padding: 0 20vw;
}

.hero,
.footer {
    background-color: #1f2937;
}

.hero_header {
    min-height: 7vh;
}

.hero_header_logo,
.hero_main_text h1,
.hero_main_text button,
.hero_main_img p,
.content_cta_block *,
.footer {
    color: #f9faf8;
}

.hero_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5vw;
}

.hero_header_logo,
.content_quote_author,
.content_cta_text h1 {
    font-size: 24px;
}

.hero_header_logo {
    font-weight: 700;
}

.hero_header_links {
    display: flex;
    gap: 2vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero_header_links,
.hero_main_text p,
.hero_main_img p,
.hero_main_text button,
.content_cta_block button {
    font-size: 18px;
}

.hero_header_links a:link,
.hero_header_links a:hover,
.hero_header_links a:visited {
    text-decoration: none;
}

.hero_header_links a:link,
.hero_header_links a:hover,
.hero_header_links a:visited,
.hero_main_text p {
    color: #b8bcc2;
}

.hero_header_links a:hover {
    color: #e5e7eb;
}

.hero_header_links a:active {
    color: #f9faf8;
}

.hero_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vh;
    padding: 10vh 0 17vh;
}

.hero_main_text {
    flex: 0 1 450px;
}

.hero_main_text h1 {
    font-size: 48px;
}

.hero_main_text h1,
.content_info_heading {
    font-weight: 900;
}

.hero_main_text h1,
.hero_main_text p {
    margin: 0;
}

.hero_main_text button,
.content_cta_block,
.content_cta_block button {
    background-color: #3882f6;
}

.hero_main_text button,
.content_cta_block button {
    border-radius: 10px;
    padding: 8px 35px;
    font-weight: 600;
}

.hero_main_text button {
    border: none;
    margin: 15px 0;
}

.hero_main_text button:hover,
.content_cta_block button:hover {
    background-color: #f9faf8;
    color: #3882f6;
}

.hero_main_text button:active,
.content_cta_block button:active {
    background-color: #3882f6;
    color: #f9faf8;
}

.hero_main_img {
    width: 550px;
    height: 250px;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50vh;
    padding-bottom: 7vh;
}

.content_info_heading {
    text-align: center;
}

.content_info_heading,
.content_quote_itself {
    font-size: 36px;
    color: #1f2937;
}

.content_info_imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5vw;
}

.content_info_img_itself {
    width: 155px;
    height: 155px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.content_info_img_subtext {
    width: 155px;
    text-align: center;
}

.content_quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_quote_block {
    display: flex;
    flex-direction: column;
    width: 36vw;
    margin: 7vh 0;
}

.content_quote_itself {
    font-style: italic;
    margin: 0;
}

.content_quote_itself,
.content_cta_text p {
    font-weight: 300;
}

.content_quote_author {
    align-self: flex-end;
    margin: 0;
    font-weight: bold;
    margin-top: 1vh;
}

.content_cta_block {
    border-radius: 10px;
    margin: 11vh 0;
    padding: 6vh 7vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vw;
}

.content_cta_block * {
    margin: 0;
}

.content_cta_block button {
    border: 2px solid #f9faf8;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 11vh;
}